.navbar {
  .navbar-brand {
    img:hover::before {
      transform: scale(1.5);
      box-shadow: 0 0 25px #ffee10;
    }

    img:hover {
      color: #ffee10;
      box-shadow: 0 0 35px #ffee10;
      text-shadow: 0 0 35px #ffee10;
    }

    img {
      border-radius: 50%;
    }
  }
}
