@use 'sass:map';
$imagenes-fondo: (
  'index': '../assets/img/fotoManoPata.JPG',
  'adopciones': '../assets/img/adoptame-letrero.webp',
  'ayudar': '../assets/img/FotoAyudaAlbergue.jpg',
  'historias': '../assets/img/Adopcion-MAxi.jpg',
  'contacto': '../assets/img/perro-pata.png',
);

.imagen-fondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .textoFondo {
    text-align: center;
    color: $light;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    background-color: $link-color;
    margin-top: 5rem;
    h1 {
      font-weight: bold;
    }
  }
}

/* background-color: aqua; */
.imagenFondoMainIndex {
  @extend .imagen-fondo;
  background-image: url(map.get($imagenes-fondo, 'index'));
}
.imagenFondoAdopciones {
  @extend .imagen-fondo;
  background-image: url(map.get($imagenes-fondo, 'adopciones'));
}
.imagenFondoAyudar {
  @extend .imagen-fondo;
  background-image: url(map.get($imagenes-fondo, 'ayudar'));
}
.imagenFondoHistorias {
  @extend .imagen-fondo;
  background-image: url(map.get($imagenes-fondo, 'historias'));
}
.imagenFondoContacto {
  @extend .imagen-fondo;
  background-image: url(map.get($imagenes-fondo, 'contacto'));
}
